

<div id="dashboard-header">
<h2>Dashboard</h2>
</div>

<%= link_to "Profile", password_details_dashboard_index_path(current_user) %>

<%= link_to 'Add Name',add_name1_dashboard_path(current_user),:remote => true %>
<br /><br /><br /><br />

<%= link_to 'Update Info', "" %><br /><br />
