<%= form_for(@task, :url => task_path(@task, :transaction_id => @transaction.id),  :remote => true) do |f| %>
  <%= f.text_field :name, :style => "width:165px;" %>
  <%= f.submit :update %>
  <%= link_to_function "cancle", "TaskCancle(#{@task.id}, #{params[:transaction_id]}, '#{@task.name}', #{@task.status})" %>
<% end %>
<script>
  function TaskCancle(task_id, trn_id, task_name, task_status) {
    $("#task_li_"+task_id).html('<input id="task" type="checkbox" value="" title='+task_name+' onclick="TaskStatusUpdate(this, '+task_id+', '+trn_id+')" name="task">'+task_name+'<span id="task_'+task_id+'" style="padding-left: 10px; display: none;"><a data-remote="true" href="/tasks/'+task_id+'/edit?transaction_id='+trn_id+'">Edit</a> | <a rel="nofollow" data-remote="true" data-method="delete" data-confirm="Are you sure?" href="/tasks/'+task_id+'">Delete</a></span>')
    if(task_status == true){
      $("#task_li_"+task_id+" "+"input[type='checkbox']").attr('checked', true);
    }
  }
</script>