<div class="contentbox">
  <div class="right-location">
    <ul class="menu-checklist">
      <li class="icon-managelocations active"><%= link_to "Manage Locations", manage_locations_user_path(current_user.id) %></li>
      <li class="icon-manageusers"><%= link_to "Manage Users", manage_users_user_path(current_user.id) %></li>
      <li class="icon-checklisttemplates"><%= link_to "Checklist Templates", checklists_path %></li>
    </ul>
  </div>
</div>

<div class="dashboard-content" style="margin-top:20px;">
  
<div class="clearFix"></div>
</div>


