<div class="contentbox">
  <h1>Profile</h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <div class="page-transaction">
                <h3>Your Login Information</h3>
                <p>Your Email Address</p>
                <p><input title="Your Email Address" type="text" /></p>
                <p>Old Password</p>
                <p><input title="Old Password" type="text" /></p>
                <p>New Password</p>
                <p><input title="New Password" type="text" /></p>
                <p>New Password Confirmation</p>
                <p><input title="New Password Confirmation" type="text" /></p>
                <p>Your Settings</p>
                <p><img title="Send me new document notifications" alt="Send me new document notifications" src="/assets/icon-checkbox-unselected.png" /> Send me new document notifications</p>
                <p><img title="Show customer support widget" alt="Show customer support widget" src="/assets/icon-checkbox-selected.png" /> Show customer support widget</p>
                <input class="btn-saveSettings" title="Save Settings" value="Save Settings" type="submit" />
                <div class="clearFix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearFix"></div>
</div>

<%#*<script type="text/javascript" language="javascript" src="js/jquery_002.js"></script>%>
<script type="text/javascript" language="javascript">
  jQuery(document).ready(function () {
    jQuery('#leftColumnShow').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
    jQuery('#closeBox').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
  });
</script>
