
<div id="rightColumn">
  <div class="contentbox">
    <%= form_for @document do |f| %>
      <h1>Upload Office Documents</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <div class="officerow">
                    <p><%= f.file_field :document, :class => "input-chosen", :title => "Choose a File" %><strong>No File Chosen</strong></p>
                  </div>
                  <div class="contentbox">
                    <h1>
                      <div class="column w40">Document Name</div>
                      <div class="column w40">Category</div>
                      <div class="column columnDisplay">Display Order</div>
                    </h1>
                    <div class="box">
                      <div class="bt">
                        <div class="br">
                          <div class="bb">
                            <div class="bl">
                              <div class="con">
                                <div class="officerow">
                                  <div class="column w40"><input class="min-input" type="text" title="Document Name" /></div>
                                  <div class="column w40">
                                    <%= f.select :document_type, %w(sale private listing), :title => "Choose a Category" %>
                                  </div>
                                  <div class="column columnDisplay"><input class="micro-input" type="text" title="Display Order" /></div>
                                </div>
                                <p>
                                  <%= f.submit "Document", :class => "btn-upload" %>
                                  <input class="btn-cancel" type="submit" title="Cancel" value="Cancel" />
                                </p>
                                <div class="clearFix"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="clearFix"></div>
  </div>
  <div class="clearFix"></div>
</div>

<div id="droparea" style="width :120px;height: 120px;border:1px dotted grey;">drag here</div>
<div id="previewarea"></div>
<script>
  var dropArea = document.getElementById("droparea"),
  viewArea = document.getElementById("previewarea");

  dropArea.addEventListener("drop", function(evt){
    previewFiles(evt.dataTransfer.files);
    return false;
  }, false);

  function previewFiles(files){
    for (i=0; i < files.length; i++){
      if (typeof FileReader != "undefined"){
        var img = document.createElement("img");
        viewArea.appendChild(img);

        var reader = new FileReader();
        reader.onload = (function(theImg){
          return function(evt){
            theImg.src = evt.target.result;
          }
        }(img));
        reader.readAsDataURL(files[i]);
      }
    }

    uploadFiles(files);
  }

  function uploadFiles(files){
    var fd = FormData();
    var position = 0;
    var max = files.length;
    if (typeof fd != "undefined"){
      function queue(){
        if (max >= 1 && position <= max - 1){
          fd.append("document", files[position]);
          upload();
        }
      }

      function upload(){
        $.ajax({
          url: '/documents',
          data: fd,
          processData: false,
          contentType: false,
          type: 'POST',
          success: function(data){
            position = position + 1;
            queue();
          }
        });
      }
      queue();
    }
  }

  dropArea.addEventListener("dragenter", function(evt){
    if (evt){
      this.className = "drag-enter";
    }
    endFn(evt);
  }, false);

  dropArea.addEventListener("dragleave", function(evt){
    this.className = "";
    endFn(evt);
  }, false);

  dropArea.addEventListener("dragover", function(evt){
    endFn(evt);
    evt.dataTransfer.dropEffect = 'move';

    return false;
  }, false);

  function endFn(evt){
    evt.preventDefault();
    evt.stopProp
  }
</script>

<script type="text/javascript" language="javascript">
  jQuery(document).ready(function () {
    jQuery('#leftColumnShow').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
    jQuery('#closeBox').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
  });
</script>
