<div class="contentbox">
  <h1>Unreviewed Docs</h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <h3>Review and verify the following documents in accordance with your company's policies.</h3>
              <div class="unreviewedBox page-transactionsN">
                <div class="unreviewedBoxContent">
                  <input class="btn-filter unreviewed active" title="Filter" value="Filter" type="submit" />
                  <p><strong>Showing all unreviewed documents</strong></p>
                  <%= form_tag unreviewed_documents_path, :method => :get, :remote => true do  %>
                    <p>
                      <%= select_tag :document_file_name, options_for_select(@documents.collect{|l| [l.document_file_name]}), :class => "micro-input" %>
                      <%= submit_tag "Filter", :class => "btn-filterResults", :title => "Filter Results", :value => "Filter Results", :type => "submit" %>
                    </p>
                    <% end %>
                </div>
              </div>
              <div id="searched-documents"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearFix"></div>
</div>
<div class="clearFix"></div>
</div>

<script type="text/javascript" language="javascript" src="/assets/jquery_002.js"></script>
<script type="text/javascript" language="javascript">
  jQuery(document).ready(function () {
    jQuery('#leftColumnShow').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
    jQuery('#closeBox').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
  });
</script>
