/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#user_register{
    color: white;
    display: block;
    left: -40px;
    position: relative;
}

#links{
    color: black;
    background: white;
    border: 2px;
}

#small-container{
    width: 75%;
    height: auto;
    background: white;
    left: 295px;
    position: relative;
    min-height: 100px;
}
